<p><%= link_to "Deities", deities_path %></p>
<p><%= link_to "Mythologies", mythologies_path %></p>
<% if @user %>
<p><%= link_to "Logout", root_path, :controller=> "sessions", :action=> "destroy" %></p>
<% else %>
<p><%= link_to "Login", login_path %></p>
<% end %>