<p>The API functionality is namespaced under -- api/v1 </p>
<p>The possible deity endpoint are: </p>
<ul>
  <li>/deities               -- all deities</li>
  <li>/deities/:id           -- a single deity</li>
  <li>/deities/:id/mythology -- a single deity's mythology</li>
  <li>/deities/:id/events    -- a single deity's events</li>
  <li>/deities/:id/children  -- a single deity's children</li>
  <li>/deities/:id/parents   -- a single deity's parents</li>
</ul>