<p>The API functionality is namespaced under -- api/v1 </p>
<p>The possible deity endpoints are: </p>
<ul>
  <li>/deities               -- all deities</li>
  <li>/deities/:id           -- a single deity</li>
  <li>/deities/:id/mythology -- a single deity's mythology</li>
  <li>/deities/:id/events    -- a single deity's events</li>
  <li>/deities/:id/children  -- a single deity's children</li>
  <li>/deities/:id/parents   -- a single deity's parents</li>
</ul>

<p>The possible mythology endpoints are: </p>
<ul>
  <li>/mythologies               -- all mythologies</li>
  <li>/mythologies/:id           -- a single mythology</li>
  <li>/mythologies/:id/deities -- a single mythology's deities</li>
</ul>