<div class='container'>
  <h3 class='right-justify'><%= link_to "All Mythologies", mythologies_path %></h3>
  <h2> Myths: </h2>
  <div class='row'>
    <% @events.each do |event| %>
      <div class='center-block'>
          <div class="card border-white text-center" style="width: 17rem;">
            <div class = "card-body">  
              <ui><h5><%= link_to event.title, event_path(event) %></h5></ui>
              <li class='my-small'><%= event.description %></li> <br />
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>