<div class='container'>
  <h2> Domains: </h2>
  <div class='row'>
    <% @domains.each do |domain| %>
      <div class='center-block'>
          <div class="card border-white text-center" style="width: 17rem;">
            <div class = "card-body">  
              <ui><h5><%= link_to domain.name, domain_path(domain) %></h5></ui>
            </div>
            <div>
              <ui><%= image_tag domain.image, height: 200 %></ui>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>