.my-small{
  font-size: .7em;
}

.eighty-percent{
  width: 100%;
}
.the-italic{
  font-family:'Apple Chancery',cursive;
}
.margin-the-left{
  text-indent: 30px;
  margin-left: 20px
}
.double_italic{
  font-family:italic;
  font-style:italic;  
}
.right-justify{
  float: right;
}
.top-margin-expand{
  margin-top: 30px;
}
.width-fill-page{
  width: 100%;
}