.my-small{
  font-size: .7em;
}

.eighty-percent{
  width: 100%;
}
.the-italic{
  font-family:'Apple Chancery',cursive;
}
.margin-the-left{
  text-indent: 30px;
  margin-left: 20px
}
.double_italic{
  font-family:italic;
  font-style:italic;  
}
.right-justify{
  float: right;
}
.top-margin-expand{
  margin-top: 30px;
}
.width-fill-page{
  width: 100%;
}
.hp-button {
  margin-left: .25em;
}
.nav-bar-dropdown {
  max-height: 3em;
}

.dropdown-content {
    display: none;
    float: right;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#dropdownMenuButton {
  float: right;
}
.deity-list {
  padding-left: 0px
}
.right-margin{
  margin-right: 0.75em;
}
.home-dashboard-image{
  height: 165px;
}
#deities-home-button{
  color: #b3b3b3;
}
#domains-home-button{
  color: #b3b3b3;
}
#myths-home-button{
  color: #b3b3b3
}
#mythologies-home-button{
  color: #b3b3b3
}
.margin-top{
  margin-top: .5em;
}
.spread-out{
  margin-right: 1em;
  margin-bottom: 5em;
}
.deity-show-titles{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#nav-btn-list {             /* <- this affects all navbars */
    display: inline-block;
}

.nav-item>a {          /* <- this affects just my footer navbar */
    display: inline-block;
}