<nav class="navbar navbar-light bg-primary">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle right-justify" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav> 
<!-- 
  <%= button_to "Homepage", root_path, :class => 'button hp-button', :method => :get %>
  <button class='nav-bar-dropdown' name='dropbtn'id='dropdown-nav'>▽ </button>
    <div id="myDropdown" class="dropdown">
      <a href="/">Homepage</a>
      <a href="/mythologies">Deities</a>
      <a href="/events">Myths</a>
    </div>
  
-->