<nav class="navbar navbar-light bg-primary">
  <%= button_to "Homepage", root_path, :class => 'button hp-button', :method => :get %>
  <button class='nav-bar-dropdown' name='dropbtn'id='dropdown-nav'>▽ </button>
    <div id="myDropdown" class="dropdown-content">
      <li><a href="/">Homepage</a></li>
      <li><a href="/mythologies">Deities</a></li>
      <li><a href="/events">Myths</a></li>
    </div>
  
</nav>