<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <ui class="nav-item float-right active"><a href='/'class="navbar-brand right-padding" href="#">Gods and Legends</a></ui>
  <ul class="navbar-nav ml-auto">
    <button class="nav-item btn-sm btn-dark float-right right-margin active"href="/deities">Deities</button>
    <button class="nav-item btn-sm btn-dark float-right right-margin active"href="/domains">Domains</button>
    <button class="nav-item btn-sm btn-dark float-right right-margin active"href="/myths">Myths</button>
    <button class="nav-item btn-sm btn-dark float-right right-margin active"href="/mythology">Mythologies</button>
    
  </ul>
</nav>