<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <ui class="nav-item float-right active"><a href='/'class="navbar-brand right-padding" href="#">Gods and Legends</a></ui>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item float-right active"> <a class="nav-link" href="/deities">Deities</a></li>
    <li class="nav-item float-right active"> <a class="nav-link" href="/domains">Domains</a></li>
    <li class="nav-item float-right active"> <a class="nav-link" href="/myths">Myths</a></li>
    <li class="nav-item float-right active"> <a class="nav-link" href="/mythology">Mythologies</a></li>
    
  </ul>
</nav>