<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <ui class="nav-item float-right active"><a href='/'class="navbar-brand right-padding" href="#">Gods and Legends</a></ui>
  <ul class="navbar-nav ml-auto" id="nav-btn-list">
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    <a class="nav-item btn-sm btn-dark float-right right-margin active" href="/deities"  id='deities-home-button' role='button'>Deities</a>
    <a class="nav-item btn-sm btn-dark float-right right-margin active" href="/domains"  id='domains-home-button' role='button'>Domains</a>
    <a class="nav-item btn-sm btn-dark float-right right-margin active" href="/events"    id='myths-home-button' role='button'>Myths</a>
    <a class="nav-item btn-sm btn-dark float-right right-margin active" href="/mythologies"id='mythologies-home-button' role='button'>Mythologies</a>
  </ul>
</nav>