<nav class="navbar navbar-light bg-primary">
    <%= button_to "Homepage", root_path, :class => 'button hp-button', :method => :get %>
    <button class='nav-bar-dropdown' name='dd-nav-button'id='dropdown-nav'>▽ </button>
</nav>